# Python Crash Course

Este minicurso tiene como objetivo darle el empujoncito inicial que necesita para arrancar su camino en la Inteligencia Artificial.<br>

**Pre-requisitos:** suponemos que usted tiene conocimientos de programación estructurada y POO.

## ¿ Qué es Python?

* Python es un lenguaje de programación de alto nivel.
* Es multiparadigma (programación imperativa y POO)
* Es multiplataforma
* Es interpretado
* Tiene tipado dinámico 
* Es fuertemente tipado

## Sintaxis

* Fue diseñado para ser leído con facilidad. 
* Utiliza palabras en inglés donde otros lenguajes usan símbolos.
* No utiliza llaves { } como los lenguajes basados en C.
* No necesita punto y coma ; para indicar fin de sentencia.
* Trabaja con indentación obligatoria (se debe ser cuidadoso con los espacios y los tabs)


## Tipos de datos 

* Numericos
    * Enteros (int)
    * Flotantes (float)
    * Complejos (complex)
* Booleanos (bool)
* Strings
* Listas (list)
* Tuplas (tuple)
* Conjuntos (set)
* Diccionarios (dict)
* None


## Tipos de datos Numéricos

### Enteros

In [3]:
# Definimos algunas variables enteras
myInt1 = 5
myInt2 = 18

print(f"myInt1 = {myInt1}")
print(f"myInt2 = {myInt2}")

print(f"type(myInt1) = {type(myInt1)}")
print(f"type(myInt2) = {type(myInt2)}")

myInt1 = 5
myInt2 = 18
type(myInt1) = <class 'int'>
type(myInt2) = <class 'int'>


### Flotantes

In [4]:
myFloat1 = 15.3
myFloat2 = 18.0

print(f"myFloat1 = {myFloat1}")
print(f"myFloat2 = {myFloat2}")

print(f"type(myFloat1) = {type(myFloat1)}")
print(f"type(myFloat1) = {type(myFloat1)}")

myFloat1 = 15.3
myFloat2 = 18.0
type(myFloat1) = <class 'float'>
type(myFloat1) = <class 'float'>


### Complejos

In [7]:
myComplex1 = 15 + 3j

print(f"myComplex1 = {myComplex1}")
print(f"type(myComplex1) = {type(myComplex1)}")

print(f"\nparte real = {myComplex1.real}")
print(f"Parte imaginaria = {myComplex1.imag}")

print(f"Conjugado = {myComplex1.conjugate()}")  ## Un numero tiene un metodo asociado?? --> No es "tan numero"

myComplex1 = (15+3j)
type(myComplex1) = <class 'complex'>

parte real = 15.0
Parte imaginaria = 3.0
Conjugado = (15-3j)


## Operaciones básicas

### Suma

In [8]:
# Suma

a = 15
b = 5
c = 15.0
d = 5.5

print(f"{a} + {b} = {a+b}")  # Entero mas entero
print(f"{a} + {c} = {a+c}")  # Entero mas flotante
print(f"{c} + {d} = {c+d}")  # Flotante mas flotante

15 + 5 = 20
15 + 15.0 = 30.0
15.0 + 5.5 = 20.5


### Producto

In [9]:
# producto
a = 15
b = 5
c = 15.0
d = 5.5

print(f"{a} * {b} = {a*b}")  
print(f"{a} * {c} = {a*c}")  
print(f"{c} * {d} = {c*d}")

15 * 5 = 75
15 * 15.0 = 225.0
15.0 * 5.5 = 82.5


### División

In [10]:
# División
a = 15
b = 5
c = 15.0
d = 5.5

# La división de enteros da flotante
print(f"{a} / {b} = {a/b}")  

# Doble barra genera la división entera
print(f"{a} // {b} = {a//b}") 

# Para los flotantes usar la división comun
print(f"{c} / {d} = {c/d}")

# Para redondear
print(f"{c} / {d} = {round(c/d, 2)}")

15 / 5 = 3.0
15 // 5 = 3
15.0 / 5.5 = 2.727272727272727
15.0 / 5.5 = 2.73


### Módulo

In [11]:
a = 15
b = 4

print(f"El resto de {a} / {b} es = {a%b}")

El resto de 15 / 4 es = 3


### Potencia

In [12]:
a = 4
b = 5

print(f"{a} ^ {b} = {a**b}")
print(f"{a} ^ {3} = {a**3}")
print(f"{b} ^ {-1} = {b**-1}")

4 ^ 5 = 1024
4 ^ 3 = 64
5 ^ -1 = 0.2


## Tipo de datos: Booleanos


``` 
a = True 
b = False

c = 8 > 5  # True
```


### Operaciones con booleanos

In [16]:
a = True
b = False

print("a=",a," type(a) ", type(a))

a= True  type(a)  <class 'bool'>


### Not

In [17]:
print(f"not {False} = {not False}")
print(f"not {True} = {not True}")

not False = True
not True = False


### And

In [18]:
# And
print(f" {True} and {True} = {True and True}")
print(f" {True} and {False} = {True and False}")
print(f" {False} and {True} = {False and True}")
print(f" {False} and {False} = {False and False}")

 True and True = True
 True and False = False
 False and True = False
 False and False = False


### Or

In [19]:
# Or
print(f" {True} or {True} = {True or True}")
print(f" {True} or {False} = {True or False}")
print(f" {False} or {True} = {False or True}")
print(f" {False} or {False} = {False or False}")

 True or True = True
 True or False = True
 False or True = True
 False or False = False


### XOR

In [20]:
# Xor
print(f" {True} xor {True} = {True ^ True}")
print(f" {True} xor {False} = {True ^ False}")
print(f" {False} xor {True} = {False ^ True}")
print(f" {False} xor {False} = {False ^ False}")

 True xor True = False
 True xor False = True
 False xor True = True
 False xor False = False


## Strings

Los strings son inmutables.

In [21]:
str1 = "Esto es un string"
str2 = 'Esto tambien es un string'

str3 = "Esto es un string con una comilla simple ' dentro"
str4 = 'Esto es un string con una comilla doble " dentro'

str5 = "Esto es un string con una comilla doble \" "
str6 = 'Esto es un string con una comilla doble \' '

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print(str6)

Esto es un string
Esto tambien es un string
Esto es un string con una comilla simple ' dentro
Esto es un string con una comilla doble " dentro
Esto es un string con una comilla doble "
Esto es un string con una comilla doble '


### **Strings:** Métodos lower(), upper() y capitalize()

In [22]:
# Algunos metodos para strings

str1 = "EL PERRO ES MUY LINDO"
str2 = "este string no tiene mayusculas"


print(str1)
# Todo a minusculas
print(str1.lower())
print(str1.capitalize())
print("-----------------------------------------------------------------------")
print(str2)
print(str2.upper())
print(str2.capitalize())
print("-----------------------------------------------------------------------")
#

EL PERRO ES MUY LINDO
el perro es muy lindo
El perro es muy lindo
-----------------------------------------------------------------------
este string no tiene mayusculas
ESTE STRING NO TIENE MAYUSCULAS
Este string no tiene mayusculas
-----------------------------------------------------------------------


### **Strings:** Métodos strip() y split()

In [24]:
# Strip
str1 = "                 tengo muchos espacios en blanco                 "

print(f"Vamos a mostrar la cadena str1= '{str1}' para ver que molestos son los espacios en blanco")

str2 = str1.strip()
print(f"Vamos a mostrar la cadena str2= '{str2}' para ver qué linda queda sin espacios de mas")

Vamos a mostrar la cadena str1= '                 tengo muchos espacios en blanco                 ' para ver que molestos son los espacios en blanco
Vamos a mostrar la cadena str2= 'tengo muchos espacios en blanco' para ver qué linda queda sin espacios de mas

In [26]:
str1 = "Habia una vez una cabra llamada Martita"
str2 = "Esto;es;una;frase;separada;por;punto;y;coma"

list1 = str1.split()
list2 = str2.split(sep=";")

print("str1 = ", str1)
print("list1 = ", list1)
print("------------------------------------------------------------------------")
print("str2 = ", str2)
print("list2 = ", list2)
print("------------------------------------------------------------------------")

str1 =  Habia una vez una cabra llamada Martita
list1 =  ['Habia', 'una', 'vez', 'una', 'cabra', 'llamada', 'Martita']
------------------------------------------------------------------------
str2 =  Esto;es;una;frase;separada;por;punto;y;coma
list2 =  ['Esto', 'es', 'una', 'frase', 'separada', 'por', 'punto', 'y', 'coma']
------------------------------------------------------------------------


## Listas, tuplas y sets

* Lista:  Colección de cosas separadas por comas, encerradas entre corchetes. 
    * Mutable
    * Con orden
* Tupla: Colección de cosas separadas por comas, encerradas entre paréntesis. 
    * Inmutable
    * Con orden
* Set: Colección de cosas *únicas* separadas por comas, encerradas entre llaves.
    * No admite repetidos 
    * No indexable (not subscriptable)

In [27]:
lista_x = [1,2,3]
tupla_x = (1,2,3)
set_x = {1,2,3,1,1}

print("lista ",lista_x)
print("tupla", tupla_x)
print("set ", set_x)

lista  [1, 2, 3]
tupla (1, 2, 3)
set  {1, 2, 3}


### Listas

In [28]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lista2 = [1, 2, 3, [1, 2, 5], "perro", "banana"]

print(lista)
print(lista2)

print("----------------------------------------------------------------------")
print(type(lista))
print(type(lista2))

print("----------------------------------------------------------------------")
print("Longitud de la lista = ", len(lista))
print("Longitud de lista2 = ", len(lista2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, [1, 2, 5], 'perro', 'banana']
----------------------------------------------------------------------
<class 'list'>
<class 'list'>
----------------------------------------------------------------------
Longitud de la lista =  10
Longitud de lista2 =  6


## Accediendo a los elementos de una lista

In [29]:
# Acceder al primer elemento de la lista
print("----------------------------------------------------------------------")
print(f"Primer elemento de {lista} =   {lista[0]}")


# Acceder al 4 elemento de la lista2
print("----------------------------------------------------------------------")
print(f"Cuarto elemento de {lista2} =   {lista2[3]}")

# Acceder al ultimo elemento de la lista
print("----------------------------------------------------------------------")
print(f"Ultimo elemento de {lista} = {lista[-1]}")

# Mostrar los 3 primeros elementos
print("----------------------------------------------------------------------")
print("3 primeros elementos")
print(lista[:3])

# Mostrar los 3 ultimos elementos
print("----------------------------------------------------------------------")
print("Ultimos 3 elementos")
print(lista[-3:])

# Mostrar los elementos desde la posicion 3 a la  6
print("----------------------------------------------------------------------")
print("Elementos desde la posicion 3 a la 6")
print(lista[2:6])

# Mostrar los elementos de las posiciones pares
print("----------------------------------------------------------------------")
print("Elementos en posiciones pares")
print(lista[::2])

# Mostrar los elementos de las posiciones impares
print("----------------------------------------------------------------------")
print("Elementos en posiciones impares")
print(lista[1::2])


# Mostrar los elementos en orden inverso
print("----------------------------------------------------------------------")
print("Elementos en orden inverso")
print(lista[::-1])

print("----------------------------------------------------------------------")

----------------------------------------------------------------------
Primer elemento de [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] =   0
----------------------------------------------------------------------
Cuarto elemento de [1, 2, 3, [1, 2, 5], 'perro', 'banana'] =   [1, 2, 5]
----------------------------------------------------------------------
Ultimo elemento de [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] = 9
----------------------------------------------------------------------
3 primeros elementos
[0, 1, 2]
----------------------------------------------------------------------
Ultimos 3 elementos
[7, 8, 9]
----------------------------------------------------------------------
Elementos desde la posicion 3 a la 6
[2, 3, 4, 5]
----------------------------------------------------------------------
Elementos en posiciones pares
[0, 2, 4, 6, 8]
----------------------------------------------------------------------
Elementos en posiciones impares
[1, 3, 5, 7, 9]
----------------------------------------------------------------------
Elementos en orden inverso
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
----------------------------------------------------------------------


### Modificando una lista

In [30]:
lista = list(range(20))

print("-----------------------------------------------------------------------")
print("Original")
print(lista)

# Modificar el ultimo valor por 100
print("-----------------------------------------------------------------------")
lista[-1] = 100
print("Modificada")
print(lista)

-----------------------------------------------------------------------
Original
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
-----------------------------------------------------------------------
Modificada
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 100]

In [31]:
# Modificar la lista desde el indice 3 hasta el 6, por todos 99

lista[3:7] = [99, 99, 99, 99]
print(lista)
print("Longitud ",len(lista))

# CUIDADO!! PUEDEN ELIMINAR SIN QUERER ELEMENTOS DE LA LISTA
print("-----------------------------------------------------------------------")
lista[7:11] = [1, 2]
print(lista)
print("Longitud ",len(lista))

[0, 1, 2, 99, 99, 99, 99, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 100]
Longitud  20
-----------------------------------------------------------------------
[0, 1, 2, 99, 99, 99, 99, 1, 2, 11, 12, 13, 14, 15, 16, 17, 18, 100]
Longitud  18


## Agregando y quitando valores de una lista. Métodos pop() y append()

In [32]:
# Creamos una lista vacia
lista = []

# Agregamos un nombre por vez
lista.append("Jake")
lista.append("Finn")
lista.append("Grumosa")
lista.append("Marceline")
lista.append("Tronquitos")

print(lista)

['Jake', 'Finn', 'Grumosa', 'Marceline', 'Tronquitos']

In [33]:
# Quitamos elementos de la lista

eliminado = lista.pop()

print("eliminado = ", eliminado)
print(lista)

eliminado =  Tronquitos
['Jake', 'Finn', 'Grumosa', 'Marceline']

In [34]:
# Con pop tambien podemos sacar elementos de cualquier posicion

eliminado = lista.pop(0)

print("eliminado = ", eliminado)
print(lista)

eliminado =  Jake
['Finn', 'Grumosa', 'Marceline']


## Combinando dos listas. Método extend

In [35]:
lista1 = list(range(6))
lista2 = list(range(15,20))

print("lista1 = ", lista1)
print("lista2 = ", lista2)
print("-----------------------------------------------------------------------")
lista1.extend(lista2)
print("lista1 extendida = ", lista1)

lista1 =  [0, 1, 2, 3, 4, 5]
lista2 =  [15, 16, 17, 18, 19]
-----------------------------------------------------------------------
lista1 extendida =  [0, 1, 2, 3, 4, 5, 15, 16, 17, 18, 19]


## Cuidado con las referencias

In [36]:
lista = list(range(5))

lista2 = lista


print("-----------------------------------------------------------------------")
print("Antes ")
print("lista = ", lista)
print("lista2 = ", lista2)
print("-----------------------------------------------------------------------")


lista[0] = 1144


print("Despues ")
print("lista = ", lista)
print("lista2 = ", lista2)
print("-----------------------------------------------------------------------")

-----------------------------------------------------------------------
Antes
lista =  [0, 1, 2, 3, 4]
lista2 =  [0, 1, 2, 3, 4]
-----------------------------------------------------------------------
Despues
lista =  [1144, 1, 2, 3, 4]
lista2 =  [1144, 1, 2, 3, 4]
-----------------------------------------------------------------------

In [37]:
lista = list(range(5))

lista2 = lista          # Referencia
lista3 = lista.copy()   # Copia
lista4 = lista[:]

print("-----------------------------------------------------------------------")
print("Antes")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)

# Modificamos lista
lista[0] = 55


print("-----------------------------------------------------------------------")
print("Despues")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)

-----------------------------------------------------------------------
Antes
Lista =  [0, 1, 2, 3, 4]
Lista2 =  [0, 1, 2, 3, 4]
Lista3 =  [0, 1, 2, 3, 4]
Lista4 =  [0, 1, 2, 3, 4]
-----------------------------------------------------------------------
Despues
Lista =  [55, 1, 2, 3, 4]
Lista2 =  [55, 1, 2, 3, 4]
Lista3 =  [0, 1, 2, 3, 4]
Lista4 =  [0, 1, 2, 3, 4]


### Pero....

No es una copia tan profunda como nos gustaría

In [38]:
lista = [[1,2,3],[4,5,6]]

lista2 = lista          # Referencia
lista3 = lista.copy()   # Copia
lista4 = lista[:]


print("-----------------------------------------------------------------------")
print("Antes")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)


# Dentro de la lista principal, hay referencias a listas
lista[0][0] = 55

lista[1][0] = 88

print("-----------------------------------------------------------------------")
print("Despues")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)

# Pero, si por alguna razon modificamos alguna de las listas internas
#  generando una nueva inner lista ... el comportamiento no es tan obvio
lista[0]= [100,100,100]

print("-----------------------------------------------------------------------")
print("Despues")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)

-----------------------------------------------------------------------
Antes
Lista =  [[1, 2, 3], [4, 5, 6]]
Lista2 =  [[1, 2, 3], [4, 5, 6]]
Lista3 =  [[1, 2, 3], [4, 5, 6]]
Lista4 =  [[1, 2, 3], [4, 5, 6]]
-----------------------------------------------------------------------
Despues
Lista =  [[55, 2, 3], [88, 5, 6]]
Lista2 =  [[55, 2, 3], [88, 5, 6]]
Lista3 =  [[55, 2, 3], [88, 5, 6]]
Lista4 =  [[55, 2, 3], [88, 5, 6]]
-----------------------------------------------------------------------
Despues
Lista =  [[100, 100, 100], [88, 5, 6]]
Lista2 =  [[100, 100, 100], [88, 5, 6]]
Lista3 =  [[55, 2, 3], [88, 5, 6]]
Lista4 =  [[55, 2, 3], [88, 5, 6]]

In [39]:
import copy

lista = [[1,2,3],[4,5,6]]

lista2 = lista          # Referencia
lista3 = copy.deepcopy(lista)   # Copia
lista4 = lista[:]


print("-----------------------------------------------------------------------")
print("Antes")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)


# Dentro de la lista principal, hay referencias a listas
lista[0][0] = 55

lista[1][0] = 88

print("-----------------------------------------------------------------------")
print("Despues")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)

# Pero, si por alguna razon modificamos alguna de las listas internas
#  generando una nueva inner lista ... el comportamiento no es tan obvio
lista[0]= [100,100,100]

print("-----------------------------------------------------------------------")
print("Despues")
print("Lista = ", lista)
print("Lista2 = ", lista2)
print("Lista3 = ", lista3)
print("Lista4 = ", lista4)

-----------------------------------------------------------------------
Antes
Lista =  [[1, 2, 3], [4, 5, 6]]
Lista2 =  [[1, 2, 3], [4, 5, 6]]
Lista3 =  [[1, 2, 3], [4, 5, 6]]
Lista4 =  [[1, 2, 3], [4, 5, 6]]
-----------------------------------------------------------------------
Despues
Lista =  [[55, 2, 3], [88, 5, 6]]
Lista2 =  [[55, 2, 3], [88, 5, 6]]
Lista3 =  [[1, 2, 3], [4, 5, 6]]
Lista4 =  [[55, 2, 3], [88, 5, 6]]
-----------------------------------------------------------------------
Despues
Lista =  [[100, 100, 100], [88, 5, 6]]
Lista2 =  [[100, 100, 100], [88, 5, 6]]
Lista3 =  [[1, 2, 3], [4, 5, 6]]
Lista4 =  [[55, 2, 3], [88, 5, 6]]


## Tuplas

### Son bastante similares a las listas, pero inmutables.

In [40]:
my_tuple = (1, 2, 3, 4, 5, 6)

print(my_tuple)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[:3])

(1, 2, 3, 4, 5, 6)
1
6
(1, 2, 3)

In [41]:
my_tuple[1] = 88

TypeError: 'tuple' object does not support item assignment


## Ej. de uso de las tuplas : Intercambiar los valores entre las variables a y b

In [42]:
a = 15
b = 21

print(f"Antes   a = {a}   b = {b}")

a, b = b, a

print(f"Despues   a = {a}   b = {b}")

Antes   a = 15   b = 21
Despues   a = 21   b = 15


## Sets

In [43]:
my_set = {1,2,3,3,3,4,1,1,1}

print(my_set)

{1, 2, 3, 4}

In [44]:
# Los sets no se pueden indexar

my_set[0]

TypeError: 'set' object is not subscriptable


## Diccionarios

* Conjunto de pares clave, valor
* Separados por coma
* Clave separada por : del valor --> clave: valor
* Encerrados entre llaves

In [56]:
my_dict = {
    "nombre":"Naruto",
    "apellido":"Uzumaki",
    "edad": 16
}

print(my_dict)

{'nombre': 'Naruto', 'apellido': 'Uzumaki', 'edad': 16}


### Mostrar las claves

In [57]:
my_dict.keys()

dict_keys(['nombre', 'apellido', 'edad'])


### Mostrar los valores

In [58]:
my_dict.values()

dict_values(['Naruto', 'Uzumaki', 16])


### Mostar tuplas key, value

In [59]:
my_dict.items()

dict_items([('nombre', 'Naruto'), ('apellido', 'Uzumaki'), ('edad', 16)])


### Acceder a un elemento por clave

In [60]:
my_dict["nombre"]

'Naruto'

In [61]:
my_dict["edad"]

16


### Modificar el valor asociado a una clave

In [62]:
my_dict["apellido"] = "Uzumaki Hyuga"

print(my_dict)

{'nombre': 'Naruto', 'apellido': 'Uzumaki Hyuga', 'edad': 16}


### Agregar un nuevo par

In [63]:
my_dict["aldea"] = "Konoha"

print(my_dict)

{'nombre': 'Naruto', 'apellido': 'Uzumaki Hyuga', 'edad': 16, 'aldea': 'Konoha'}


## Eliminar una clave

In [64]:
eliminado = my_dict.pop("nombre", None)
eliminado2 = my_dict.pop("amigo", None)

print(eliminado)
print(eliminado2)

print(my_dict)

Naruto
None
{'apellido': 'Uzumaki Hyuga', 'edad': 16, 'aldea': 'Konoha'}

In [65]:
del my_dict["edad"]

print(my_dict)

{'apellido': 'Uzumaki Hyuga', 'aldea': 'Konoha'}


# Control de Flujo

* If, elif, else
* While
* For

## 1. IF 

Dado que en python no se utilizan las llaves {}...como podemos saber que código forma parte del bloque del if? 

Todo el código que está en el mismo nivel de indentación, forma parte del mismo bloque:

``` 
if condicion:
    sentencia1
    sentencia2
    sentencia3

sentencia4
```

Las sentencias 1, 2 y 3 forman parte del bloque del IF y sólo se ejecutarán si la condición se evalúa verdadera.

La sentencia 4 se ejecuta siempre dado que está fuera del bloque del IF

In [66]:
mostrar_info = 1

if mostrar_info==1:
    print("Bloque 1 - parte 1")
    print("Bloque 1 - parte 2")
print("Bloque externo- me ejecuto siempre")

Bloque 1 - parte 1
Bloque 1 - parte 2
Bloque externo- me ejecuto siempre

In [67]:
mostrar_bloque = 0

if mostrar_bloque==1:
    print("Bloque 1 - parte 1")
    print("Bloque 1 - parte 2")
else:
    print("Bloque 2 - parte 1")
    print("Bloque 2 - parte 2")
print("Bloque externo- me ejecuto siempre")

Bloque 2 - parte 1
Bloque 2 - parte 2
Bloque externo- me ejecuto siempre

In [68]:
opcion = 3

if opcion == 1:
    print("Bloque 1 - Parte 1")
    print("Bloque 1 - Parte 2")
    print("Bloque 1 - Parte 3")

elif opcion == 2:
    print("Bloque 2 - Parte 1")
    print("Bloque 2 - Parte 2")
    print("Bloque 2 - Parte 3")

elif opcion == 3:
    print("Bloque 3 - Parte 1")
    print("Bloque 3 - Parte 2")
    print("Bloque 3 - Parte 3")
else:
    print("Bloque default - Parte 1")
    print("Bloque default - Parte 2")
    print("Bloque default - Parte 3")

print("Fuera del bloque de if")

Bloque 3 - Parte 1
Bloque 3 - Parte 2
Bloque 3 - Parte 3
Fuera del bloque de if

In [69]:
dia_lindo = False
dinero = True

if dia_lindo and dinero:
    print("Dia para salir a pasear al camping")
    
elif dia_lindo and not dinero:
    print("Dia lindo para caminar")
elif not dia_lindo and dinero:
    print("Dia lindo para ir al shopping")
else:
    print("Dia especial para comer tortafritas")

Dia lindo para ir al shopping


## 2. While

In [70]:
contador = 0

while contador < 10:
    print(contador)
    contador +=1

0
1
2
3
4
5
6
7
8
9

In [71]:
contador = 0

while contador < 10:
    print("estoy dentro del bucle " + str(contador))
    contador += 1
else:
    print("Salgo del bucle")

print("Ya estoy fuera del bucle")

estoy dentro del bucle 0
estoy dentro del bucle 1
estoy dentro del bucle 2
estoy dentro del bucle 3
estoy dentro del bucle 4
estoy dentro del bucle 5
estoy dentro del bucle 6
estoy dentro del bucle 7
estoy dentro del bucle 8
estoy dentro del bucle 9
Salgo del bucle
Ya estoy fuera del bucle


## 3. For

Los ciclos for en Python están pensados para iterar sobre las colecciones.

## Iterando sobre listas al estilo **C**

In [72]:
frutas = ["manzana", "pera", "naranja", "uva", "kiwi", "sandía"]

# Podemos iterar al estilo de c (en forma medio forzada)

n = len(frutas)  # Longitud de la lista

for i in range(n):
    print(frutas[i])

manzana
pera
naranja
uva
kiwi
sandía

In [73]:

for i in range(n):
    print(i, frutas[i])

0 manzana
1 pera
2 naranja
3 uva
4 kiwi
5 sandía


## Iterando sobre listas al estilo **Python**

In [74]:
# Iteramos al estilo Python

for x in frutas:
    print(x)

manzana
pera
naranja
uva
kiwi
sandía

In [75]:
# Si queremos mostrar el indice:

for (idx, fruta) in enumerate(frutas):
    print(idx, fruta)

0 manzana
1 pera
2 naranja
3 uva
4 kiwi
5 sandía

In [76]:
# Que devuelve el enumerate??

enum = enumerate(frutas)
print(enum)

print(list(enum))  # Si lo transformamos en lista, retorna una lista de tuplas

<enumerate object at 0x7b6fe9453240>
[(0, 'manzana'), (1, 'pera'), (2, 'naranja'), (3, 'uva'), (4, 'kiwi'), (5, 'sandía')]


## Iterando sobre strings

In [78]:
string = "Murciélago"

for letra in string:
    print(letra)

M
u
r
c
i
é
l
a
g
o


## Iterando sobre diccionarios

In [79]:

my_dict = {"nombre":"Rem", "especie":"Semidemonio", "color_pelo":"azul"}
# Si iteramos directamente, iteramos sobre las claves
for x in my_dict:
    print(x)

print("------------------------------------------------------------------------")
for x in my_dict.keys():
    print(x)

nombre
especie
color_pelo
------------------------------------------------------------------------
nombre
especie
color_pelo

In [80]:
# Iterando sobre valores

for valor in my_dict.values():
    print(valor)

Rem
Semidemonio
azul

In [81]:
# Iterando sobre par clave valor

for k, v in my_dict.items():
    print(k, v)

nombre Rem
especie Semidemonio
color_pelo azul


## Procesando un string (nivel básico)

Dado un string, se quiere saber cuantas letras de cada especie hay.

In [82]:


frase = "Esto es una frase para contar las ocurrencias de las letras"
frase2  = "".join(frase.lower().split())

my_dict = dict()
for letra in frase2:
    if letra not in my_dict.keys():
        my_dict[letra] = 1
    else:
        my_dict[letra] += 1


for k, v in my_dict.items():
    print(k, v)

sorted_values  = sorted(my_dict.items())

print("-----------------------------------------------------------------------")
for k, v in sorted_values:
    print(k,v)

e 6
s 7
t 3
o 3
u 2
n 3
a 9
f 1
r 6
p 1
c 3
l 3
i 1
d 1
-----------------------------------------------------------------------
a 9
c 3
d 1
e 6
f 1
i 1
l 3
n 3
o 3
p 1
r 6
s 7
t 3
u 2

## Funciones

La palabra reservada en Python para definir una función es `def` <br>

## Nuestra primera función


Vamos a crear una funcion que nos salude y nos diga que es una función muy guapa. Esta función no tendrá parámetros.

```
def miFuncion():
    print("Hola, soy una función muy guapa!")
```

In [83]:
# Definimos la función
def miFuncion():
    print("Hola, soy una función muy guapa!")

# Invocamos la función

miFuncion()
miFuncion()

Hola, soy una función muy guapa!
Hola, soy una función muy guapa!


### Las funciones pueden tener parámetros.
```
def mifuncion2(nombre):
    print(f"Hola {nombre}!! Soy una función muy guapa")
```

In [84]:
# Definimos una funcion que tiene 1 parametro

def mifuncion2(nombre):
    print(f"Hola {nombre}!! Soy una función muy guapa")

In [86]:
# ahora invocamos la funcion
mifuncion2("Gaspar")
mifuncion2("Melchor")
mifuncion2("Baltasar")

Hola Gaspar!! Soy una función muy guapa
Hola Melchor!! Soy una función muy guapa
Hola Baltasar!! Soy una función muy guapa


### Cuidado!! si la función está esperando un parámetro y no se lo damos, se va a generar un error

In [87]:
# Que ocurre si no le pasamos un parámetro??

mifuncion2()

TypeError: mifuncion2() missing 1 required positional argument: 'nombre'


## Función con parámetro por defecto



Para evitar el error que obtuvimos anteriormente, podemos generar un parámetro por defecto:

In [88]:
def mifuncion3(nombre="Persona misteriosa"):
    print(f"Hola {nombre}!! Soy una función muy guapa")

mifuncion3()
mifuncion3("Noelia")

Hola Persona misteriosa!! Soy una función muy guapa
Hola Noelia!! Soy una función muy guapa


### **Cuidado!!** cuando pasamos parámetros por defecto, éstos deben ir detrás de los otros parámetros

### Caso contrario, se genera un error de sintaxis

`SyntaxError: non-default argument follows default argument`

In [89]:
# Esto genera un error de sintaxis
def datosPersonales(nombre='pepe', apellido, edad):
    pass

SyntaxError: non-default argument follows default argument (832166238.py, line 2)

In [91]:
# La manera correcta es
def datosPersonales(apellido, edad, nombre="NN"):
    print("-------------------------------------------------------------")
    print(f"Nombre = {nombre}")
    print(f"Apellido = {apellido}")
    print(f"Edad = {edad}")
    print("-------------------------------------------------------------")


datosPersonales("Peralta", 32, "Maria")
datosPersonales("Perez", 62 )

-------------------------------------------------------------
Nombre = Maria
Apellido = Peralta
Edad = 32
-------------------------------------------------------------
-------------------------------------------------------------
Nombre = NN
Apellido = Perez
Edad = 62
-------------------------------------------------------------


## Pasar los argumentos en un orden distinto

Es posible al invocar una función, pasar los argumentos en un orden diferente al definido. Pero para esto es necesario indicar el nombre del parámetro asociado.

In [92]:
datosPersonales(nombre="Jacinto", apellido="Pepe", edad=15)

-------------------------------------------------------------
Nombre = Jacinto
Apellido = Pepe
Edad = 15
-------------------------------------------------------------


### Las funciones pueden devolver un valor mediante la sentencia return 
*(algo curioso de python es que aunque no usemos la sentencia return, las funciones siempre retornan un valor)*

```
def suma(a,b):

    suma = a + b
    return suma
```

No es necesario que creemos una variable interna para hacer la suma<br>

```
def suma2(a, b):
    return a + b

```

También pueden retornar mas de un valor

```
def suma_resta(a, b):
    return a + b, a-b

```


---

In [93]:
# Restorna 1 valor, la suma de a y b
def suma(a,b):
    suma = a + b
    return suma

# Restorna 1 valor, la suma de a y b
def suma2(a, b):
    return a + b


# Restorna 2 valores, la suma de a y b y la resta de a y b
def suma_resta(a, b):
    return a + b, a-b

In [94]:
a = 35
b = 23

res_suma_1 = suma(a,b)
res_suma_2 = suma2(a,b)

res_suma_3, res_resta_3 = suma_resta(a, b)

print(f"(func suma)   {a} + {b}  = {res_suma_1}")
print(f"(func suma2)   {a} + {b}  = {res_suma_2}")
print(f"(func suma_resta)   {a} + {b}  = {res_suma_3}")
print(f"(func suma_resta)   {a} - {b}  = {res_resta_3}")

(func suma)   35 + 23  = 58
(func suma2)   35 + 23  = 58
(func suma_resta)   35 + 23  = 58
(func suma_resta)   35 - 23  = 12


### En python las funciones siempre retornan un valor (aunque no haya un return)

In [95]:
def saludar():
    print("Hola. Soy una función que no tiene un return!")

valor_retornado = saludar()

print("valor_retornado = ",valor_retornado)
print("type(valor_retornado) =", type(valor_retornado))

Hola. Soy una función que no tiene un return!
valor_retornado =  None
type(valor_retornado) = <class 'NoneType'>


## **Cantidad variable de parámetros**


**Es posible pasarle a una función una cantidad variable de argumentos**

```
def muchosArgs(*args):
    if len(args)!=0:
        for item in args:
            print(item)
        
        print(f"\nCantidad de argumentos = {len(args)}")
    else:
        print("La función se ha invocado sin argumentos!")
        
```

In [96]:
def muchosArgs(*args):
    if len(args)!=0:
        for item in args:
            print(item)
        
        print(f"\nCantidad de argumentos = {len(args)}")
    else:
        print("La función se ha invocado sin argumentos!")

    print("-----------------------------------------------------------")

In [97]:
muchosArgs()

La función se ha invocado sin argumentos!
-----------------------------------------------------------

In [98]:
muchosArgs(1,2,3,4,5,6)

1
2
3
4
5
6

Cantidad de argumentos = 6
-----------------------------------------------------------

In [99]:
muchosArgs("Perro", "Gato", "Tiburón")

Perro
Gato
Tiburón

Cantidad de argumentos = 3
-----------------------------------------------------------


## **Es posible pasar una cantidad variable de pares key-value también**

```

def keyValueVariable(**kwargs):
    # kwargs es un diccionario

    for k, v in kwargs.iteritems():
        print(f"key = {k}   value = {v}")
```

In [100]:
def keyValueVariable(**kwargs):
    # kwargs es un diccionario

    for k, v in kwargs.items():
        print(f"key = {k}   value = {v}")
    
    print("-------------------------------------------------------")


keyValueVariable(a="primer letra", b= "segunda letra", z= "última letra")
keyValueVariable(nombre="Maria", apellido="Rodriguez", edad=45)

key = a   value = primer letra
key = b   value = segunda letra
key = z   value = última letra
-------------------------------------------------------
key = nombre   value = Maria
key = apellido   value = Rodriguez
key = edad   value = 45
-------------------------------------------------------


## Pasaje por valor o por referencia ??



* Los valores simples (enteros, flotantes, strings...) se pasan por valor --> se genera una copia y no se afecta el valor original
* Los valores compuestos(listas, diccionarios) se pasan por referencia --> los cambios generados dentro de la función tienen efecto en el original

### Pasaje por valor

In [101]:
def sumo_diez_y_muestro(a):
    a = a+10
    print("(dentro de la funcion) a = ",a)

a = 700
print("(valor original) a = ", a)
sumo_diez_y_muestro(a)

print("(fuera de la funcion) a = ",a)

(valor original) a =  700
(dentro de la funcion) a =  710
(fuera de la funcion) a =  700

In [102]:
def agregoWeeee(palabra:str):
    palabra = palabra + " Weeeee"
    print("(dentro de la funcion) palabra = ", palabra)

palabra = "Camello"

print("(original) palabra = ", palabra)
agregoWeeee(palabra)
print("(fuera de la funcion) palabra = ", palabra)

(original) palabra =  Camello
(dentro de la funcion) palabra =  Camello Weeeee
(fuera de la funcion) palabra =  Camello


### Pasaje por referencia

In [105]:
lista = list(range(10))
print("(antes de invocar a la funcion)   lista = ", lista)

def cambio_primero_ultimo_y_muestro(lista:list):
    lista[0] = 3333
    lista[-1] = 4444
    print("(dentro de la funcion)            lista = ", lista)


cambio_primero_ultimo_y_muestro(lista)
print("(despues de invocar a la funcion) lista = ", lista)

(antes de invocar a la funcion)   lista =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(dentro de la funcion)            lista =  [3333, 1, 2, 3, 4, 5, 6, 7, 8, 4444]
(despues de invocar a la funcion) lista =  [3333, 1, 2, 3, 4, 5, 6, 7, 8, 4444]